/*
    Section 04 Créations
*/
@import '../utilities/allUtilities';

section.creation {
    .nav-tabs {
        li {
            font-size: rem(15);
            width: calc((100% - 120px)/6);
            margin: 0 10px;
            display: inline-block;

            &.full-width {
                width: 100%;
                margin: 0 auto rem(20);
                max-width: rem(230);
                display: block;
            }

            @include media-breakpoint-down(md) {
                width: calc((100% - 120px)/4);
                margin: rem(10) rem(15);
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin: 0 auto rem(10);
                max-width: rem(230);
                display: block;
            }
        }
    }

    .creation-items {
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }

    .creation-item {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        height: rem(250);
        font-size: rem(16);

        @include media-breakpoint-down(md) {
            width: 50%;
        }

        @include media-breakpoint-down(xs) {
            width: 90%;
        }
    }
}