/*
    Section 01 Home
*/
@import '../utilities/allUtilities';

section.hello {
    color: $color--01;
    position: relative;
    overflow: hidden;

    .content-hello {
        max-width: 70%;
        width: 100%;
    }

    .text-hello {
        font-family: $Oswald-N-700;
        letter-spacing: rem(5);
        font-size: rem(22);

        @include media-breakpoint-down(xs) {
            font-size: rem(14);
            margin-bottom: 5px;
        }
    }

    img {
        transform: scale(1.3);

        @include media-breakpoint-only(lg) {
            transform: scale(1.6);
        }

        @include media-breakpoint-down(sm) {
            transform: scale(1.6);
        }
    }

    @include media-breakpoint-down(sm) {
        .btn-hover {
            max-width: 100%;
            width: auto;

            .bottom {
                left: 5px;
                top: 5px;
            }

            .top {
                padding: rem(15) rem(15) rem(12);

               
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .btn-hover {
            max-width: 100%;
            width: auto;

            .bottom {
                left: 5px;
                top: 5px;
            }

            .top {
                padding: rem(10) rem(10) rem(5);

                .label {
                    font-size: rem(10);
                }
            }
        }
    }
}